body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header-content img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto 20px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff; /* Color de fondo del cuerpo de la card */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.card h2 {
  color: #007bff;
  font-size: 1.5em;
  margin: 0; /* Eliminar margen superior e inferior */
  padding: 20px; /* Añadir espacio alrededor del título */
  text-align: center;
  background-color: #f0f0f0; /* Color de fondo del título de la card */
  border-top-left-radius: 10px; /* Redondear la esquina superior izquierda */
  border-top-right-radius: 10px; /* Redondear la esquina superior derecha */
}

.card-content {
  padding: 20px;
  text-align: left;
  overflow: auto; /* Permitir desplazamiento vertical si el contenido es demasiado grande */
  flex-grow: 1; /* Hace que el contenido de la card ocupe todo el espacio disponible */
}

.card-content p {
  font-size: 1.2em;
  margin: 10px 0;
}

.card-content a {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card-content a:hover {
  background-color: #0056b3;
}

/* Estilos para la etiqueta del número del taller */
.taller-number {
  font-weight: bold;
  font-style: italic;
  color: #ff6347; /* Color rojo */
}

/* Estilos para el título del taller */
.taller-title {
  display: inline-block; /* Hace que el título se muestre en línea */
}

/* Estilos para el badge */
.taller-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ff6347; /* Cambiar a un color naranja */
  color: #fff; /* Texto blanco */
  font-size: 0.8em; /* Tamaño de texto más pequeño */
  margin-bottom: 10px; /* Agrega un margen inferior para el salto de línea */
}

/* Estilos para el botón de registro */
.btn-register {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  padding: 10px 15px; /* Reducir el padding horizontal */
  text-decoration: none;
  border-radius: 50% 20% / 10% 40%; /* Hacer el botón más ovalado */
  border-collapse: separate;
  transition: background-color 0.3s ease;
  text-align: center; /* Centrar el texto */
  line-height: 20px; /* Alinear verticalmente el texto */
  width: 100px; /* Ancho fijo */
  margin: 0 auto; /* Centrar horizontalmente */
  display: block; /* Convertir el enlace en un bloque */
}

.btn-register:hover {
  background-color: #0056b3;
}






.btn-register:hover {
  background-color: #0056b3;
}



